@{
    ViewData["Title"] = "Home Page";
}
@if (string.IsNullOrEmpty(TempData["UserName"].ToString()))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome @TempData["UserName"].ToString()</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
